/.history
.env
.history
/myenv
myenv
/node_modules
npm-debug.log
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/
**/*.pyc/
**/*.pyo/
**/*.pyd/
**/node_modules/
**/npm-debug.log/
**/myenv/
**/myenv/
/.vscode
/logs/dag_processor_manager/
/logs/scheduler/